#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    color: #fff;

    .heading{
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    .project-container{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        max-width: 1800px;
        flex-wrap: wrap;

        .project:hover{
            background: #1e1e1e;
            border: 1px solid #fff;
            cursor: pointer;
            transform: scale(1.1);
            transition: all 0.3s ease-in-out;
            @media (min-width: 1024px){
                transform: scale(1.05);
            }
            a, .info{
                color: #fff;
            }
            .tech{
                color: gray
            }

        }
        .project{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;
            margin: 1rem;
            padding: 1rem;
            height: 12rem;
            width: 100%;
            max-width: 20rem;
            border-radius: 4px;
            background-color: #fff;
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            a{
                color: #000;
                text-decoration: none;
                font-size: 1.2rem;
                font-weight: 600;
                transition: all 0.3s ease-in-out; 
            }
            .info{
                font-size: 1.2rem;
                font-weight: normal;
                margin-top: 0.5rem;
                text-decoration: none;
                color: #000;
            }
            .tech{
                font-size: 1rem;
                font-weight: normal;
                margin-top: 0.5rem;
                color: gray;
            }
        }
    }

}