#home{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: 768px){
            flex-direction: row;
            max-width: 900px;
        }
    }
    .bio{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        .intro{
            animation: textSlideUp 0.5s ease-in forwards;
            font-size: 2rem;
            @media (min-width: 768px){
                width: 30rem;
            }
            
            @media (max-width: 767px) {
				font-size: 1.5rem;
				text-align: center;
			}
        }
        .name{
            animation: textSlideUp 0.5s ease-in forwards;
            font-size: 2.70rem;
            font-weight: bold;
            margin-top: -1.20rem;
            opacity: 0;
            @media (max-width: 767px) {
				font-size: 1.75rem;
				text-align: center;
				margin-top: -0.5rem;
			}
        }
        .social{
            display: flex;
            align-items: center;
            justify-content: space-around;
            text-decoration: none;
            color: #fff;
            width: 9rem;
			height: 4rem;
			font-size: 1.5rem;
            margin-top: -0.5rem;
			margin-left: -0.5rem;
            @media (max-width: 767px) {
				width: 100%;
				margin-left: 0rem;
				justify-content: center;
			}
        }
        @keyframes textSlideUp {
			from {
				opacity: 0;
				transform: translateY(10%);
			}

			to {
				opacity: 1;
				transform: translateY(0%);
			}
		}
	}
    }
